.list-domain{
	width: 100%;
	background: #f5f5f5;
	padding: 50px;
	@media (max-width: 768px) {
		padding:20px 0px;
	}
	.container{
		p{
			font-size: 16px;
		}
		.domain-choose{
			margin: 30px 0px;
			@media (max-width: 768px) {
				padding: 0;
			}
			ul{
				@media (max-width: 768px) {
					margin: 0;
					padding: 0;
				}
				li{
					list-style-type: none;
					width: 100%;
					padding: 16px 20px;
					border-radius: 5px;
					margin-bottom: 15px;
					box-shadow: 2px 1px 5px 0px #938b8ba6;
					.content{
						width: 100%;
						clear: both;
						a{
							font-size: 18px;
							.popUp{
								text-align: right
							}
							&:hover{
								color:gray;
							}
							img{
								margin: 0 !important;
							}
						}
						a.fl-right {
							float: right;
						}
					}
				}
				li.active{
					background: #288bd5;
					a{
						color: #fff;
					}
				}
			}
		}
		.button{
			text-align: center;
			width: 40%;
			margin: 30px auto 0px auto;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			@media (max-width: 768px) {
				width: 100%;
			}
			a{
				text-transform: uppercase;
			}
			a.btn-default{
				padding: 7px 30px 7px 30px;
				background: #ebebeb;
				color: #616161;
				border-radius: 3px;
				text-transform: uppercase;
				margin-left: 10px;
				font-size: 14px;
			}
		}
	}
}


.confirmSuccess {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background: rgba(122, 122, 122, 0.48);
	z-index: 999999;
	.flex_center {
		display: flex;
		align-items: center;
		height: 100%;
		.forget_id {
			width: 40%;
			@media (max-width: 600px) {
				width: 80%;
			}
			max-height: 550px;
			margin: 0 auto;
      // margin-top: -50%;
      background: #fff;
      transition: all 0.5s;
      position: relative;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 0px #948b8bb3;
      .close_confirmSuccess {
		position: absolute;
		top: -25px;
		right: -25px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid #fff;
		background: transparent;
		color: #fff;
		font-size: 20px;
		line-height: 27px;
		text-align: center;
		/* line-height: 40px; */
		cursor: pointer;
      }
      .content {
      	width: 100%;
      	text-align: center;
      	padding: 15px 0px;
      	display: inline-grid;
      	.title{
			border-bottom: solid 1px #d7d5d5ee;
			padding-bottom: 10px;
		}
      	img {
      		width: 40%;
      		margin: 0 auto;
      	}
      	p {
      		font-size: 15px;
      		color: #7c7c7c;
      		padding: 15px 0px;
      	}
      	.body {
      		width: 100%;
      		img{
      			width: 15%;
				  margin: 30px auto;
				  margin-top: 40px;
				  margin-bottom: 20px;
      		}
      		p{
      			font-size: 18px;
      			color: #555555;
      		}
      	}
      }
  }
}
&.active {
	opacity: 1;
	visibility: visible;
	.forgot_password {
		margin-top: -0%;
	}
}
}


.transfer{
	h3.text-center{
		margin-bottom: 10px;
		img{
			width: 40px;
		}
	}

	p.desc{
		margin-bottom: 40px;
	}

	.content{
		padding: 30px;
		@media (max-width: 768px) {
			padding: 0;
		}
	}
}


