@import "./variables";

.wrap-domain-step {
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: 768px) {
    padding: 20px 0px;
  }
  .wrap-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 30px;
      margin-right: 5px;
    }
  }

  .wrap-domain-step-block {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: block;
    }

    .block {
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
      background: #ffffff;
      min-height: 150px;
      width: 25%;
      margin-right: 10px;
      border-radius: 10px;
      display: flex;
      justify-content: center;

      @media only screen and (max-width: $mobileWidth) {
        min-height: unset;
      }
      @media (max-width: 768px) {
        width: 100%;
        padding: 5px 15px;
        margin-bottom: 5px;
        justify-content: start;
      }

      &[data-active="true"] {
        background: #0090dc;

        .wrap-label {
          h4 {
            color: #ffffff;
          }
        }
      }

      .wrap-inside-block {
        display: flex;
        align-self: center;
        flex-direction: column;
        @media (max-width: 768px) {
          flex-direction: row;
        }
      }

      .wrap-icon {
        text-align: center;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          margin-bottom: 0;
        }

        img {
          width: 50px;
          @media only screen and (max-width: $mobileWidth) {
            width: 30px;
          }
          @media (max-width: 768px) {
            height: 20px;
            width: auto;
          }
        }
      }

      .wrap-label {
        h4 {
          font-size: 16px;
          @media only screen and (max-width: $mobileWidth) {
            font-size: 11px;
            padding-left: 5px;
            padding-right: 5px;
          }
          @media (max-width: 768px) {
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .wrap-search-box {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;

    h4 {
      margin-right: 5px;
    }

    img {
      width: 20px;
    }
  }

  .wrap-domain-step-report {
    margin-top: 50px;
    margin-bottom: 50px;
    label{
      margin-bottom: 20px;
    }
    label.note{
      font-size: 13px;
      color: #0090dc;
    }
    .title-form-customer-info {
      text-align: center;
      color: #4285ea;
      margin-bottom: 15px;
      border-bottom: 1px solid #4285ea;
      padding-bottom: 10px;
      margin-top: 50px;
    }
    .wrap-search-box-result {
      margin-bottom: 30px;

      .wrap-form-search {
        .title-form-customer-info {
          text-align: center;
          color: #4285ea;
          margin-bottom: 15px;
          border-bottom: 1px solid #4285ea;
          padding-bottom: 10px;
        }

        .wrap-title-search {
          margin-bottom: 10px;
          display: block;
        }

        .wrap-inline-form {
          display: flex;
          justify-content: space-between;

          .form-input {
            width: 100%;
            margin-right: 5px;

            &[data-last="true"] {
              margin-right: 0;
            }
          }

          @media only screen and (max-width: $mobileWidth) {
            flex-direction: column;
          }

          .full-input {
            width: 100%;
          }
        }

        .wrap-tsl-value {
          margin-top: 10px;
        }

        .wrap-add-new-icon {
          display: flex;
          a {
            display: block;
            flex-direction: row;
            width: 50%;
            float: left

            img {
              width: 14px;
              height: 14px;
            }

            span {
              margin-left: 5px;
            }
          }
          label{
            width: 50%; 
            float: right;
            text-align: right;
          }
        }

        .custom-select {
          width: 100%;
        }

        
      }
    }

    .wrap-footer-actions {
      display: flex;
      justify-content: center;

      a {
        width: 190px;
        margin-right: 10px;
      }
    }

    .wrap-search-box-button {
      width: 190px;
      margin: 0 auto;
    }
  }
}

.wrap-fluid-step-table {
  background: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 30px;
  .container{
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .wrap-domain-step-table {
    background: #ffffff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    padding: 0px 20px;
    border-radius: 10px;
    overflow-x: auto;

    table {
      width: 100%;
    }

    @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border-bottom: solid 3px #eee;
        background: #fff;
      }
      tr:last-child {
        margin: 0px;
      }
      tr:nth-child(odd) {
        background: #fff;
      }
      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
        text-align: left;
        min-height: 3em;
        input {
          text-align: left;
          width: 20px;
        }
      }
      td:before {
        content: attr(data-title);
        position: absolute;
        top: 8px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: center;
      }
    }
  }

  
  .wrap-remove-action {
    margin-top: 5px;
  }
}


.table-footer-action {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    @media only screen and (max-width: $mobileWidth) {
      flex-direction: column;
    }

    .wrap-export {
      display: flex;
      align-items: end;
      background: #dedede;
      padding: 5px 10px;
      border-radius: 5px;
      height: 30px;

      img {
        width: 20px;
        margin-right: 5px;
      }
    }

    .wrap-paging {
      display: flex;
      @media only screen and (max-width: $mobileWidth) {
        flex-direction: column;
      }

      ul {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;

        li {
          a {
            background: unset;
            border: 0px;
          }
        }
      }

      .wrap-number-page {
        background: #dedede;
        padding: 5px 10px;
        display: flex;
        height: 30px;
        border-radius: 5px;
        label {
          margin-right: 5px;
        }
      }
    }
  }

.wrap-search-by-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  @media only screen and (max-width: $mobileWidth) {
    flex-direction: column;
  }

  .wrap-col-1 {
    width: 33%;
    line-height: 34px;
  }

  .wrap-col-date {
    display: flex;
    align-items: center;
    width: 33%;
    @media only screen and (max-width: $mobileWidth) {
      width: 100%;
      margin-bottom: 5px;
    }
    input[type="date"] {
      color: #4285ea;
      font-weight: bold;
    }

    input::-webkit-inner-spin-button {
      display: none;
    }

    label {
      width: 100px;
    }
  }
}

.table-footer-action {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  @media only screen and (max-width: $mobileWidth) {
    flex-direction: column;
  }

  .wrap-export {
    display: flex;
    align-items: end;
    background: #dedede;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
    @media (max-width: 767px) {
      display: -webkit-box;
      width: fit-content;
    }
   
    img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .wrap-paging {
    display: flex;
    @media only screen and (max-width: $mobileWidth) {
      flex-direction: column;
    }

    ul {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      @media (max-width: 767px) {
        margin: 15px auto;
      }
      li {
        a {
          background: unset;
          border: 0px;
        }
      }
    }

    .wrap-number-page {
      background: #dedede;
      padding: 5px 10px;
      display: flex;
      height: 30px;
      border-radius: 5px;
      @media (max-width: 767px) {
        display: -webkit-box;
        width: fit-content;
      }
      label {
        margin-right: 5px;
      }
    }
  }
}
