footer{
	color:#eaedf1;
	.footer-top{
		padding: 25px 0px 25px 0px;
		background: url('../images/banner-footer-top.png');
		background-repeat: no-repeat;
		background-size: cover;
		.container{
			@media(max-width: 991px) {
				width: 100%;
			}
		}
		.content-left{
			p{
				font-size: 30px;
				margin: 0;
				padding: 0;
				font-weight: bold;
			}
			span{
				font-size: 24px;
				font-weight: 500;
			}
		}
	}
	@media(max-width: 768px){
		text-align: center;

	}
	.content-middle{
		>ul{
			list-style-type: none;
			padding-inline-start:0;
			li{
				margin-bottom: 15px;
				p{
					font-size: 14px;
				}
			}
		}
		@media(max-width: 768px){
			padding-top: 30px;
			padding-bottom: 20px;
		}
	}
	@media(max-width: 768px){
		text-align: center;
	}
	.content-right{
		text-align: right;
		p.hotl{
			font-size: 24px;
			margin: 0;
			padding: 0;
			font-weight: bold;
		}
		p.desc{
			font-size: 14px;
			margin-bottom: 10px;
		}
		form{
			width: 80%;
			float: right;
			input{
				border-radius: 5px;
				margin-bottom: 10px;  
				padding: 5px 10px;
				color: #000;
				border:0px;
				font-size: 13px
			}
			@media(max-width: 768px){
				width: 100%;
			}
		}
		input#btnSubmit {
			padding: 5px 20px;
			border-radius: 10px;
			background: #357bcb;
			float: right;
			border:none;
			color:#ffff;
			font-size: 13px;
			@media(max-width: 768px){
				width: 100%;
			}
		}
		input#btnSubmit:hover {
			background: #3d6dd1	;
			transition: 0.8s;
		}
		input#email{
			width: 100%;
		}
		input#name {
			width: 100%;
		}
		@media(max-width: 768px){
			text-align: center;
		}
	}

	.footer-bottom{
		width: 100%;
		max-height: 70px;
		background: #1270b8;
		padding: 20px 0px;
		clear:both;
		.container{
			@media(max-width: 991px) {
				width: 100%;
			}
		}
		.footer-logo{
			width: 30%;
			float: left;
			img {
				width: 80px;
				float: left;
			}
		}
		.footer-social {
			width: 40%;
			float: left;
			text-align: center;
			>ul{
				display: flex;
				justify-content: center;
				margin: 0;
				>li{
					display: inline;
					list-style-type: none;
					float: left;
					padding: 0px 15px;
					a{
						color: #ffff;
						font-size: 15px;
						i{
							font-size: 18px;
						}
					}

				}
				@media(max-width: 990px){
					li:first-child{
						a{
							display: none;
							margin:0 auto;
						}
						
					}
				}
			}
		}

		.footer-coppy {
			width: 30%;
			float: right;
			p{
				float: right;
				margin: 0;
				padding: 0;
				font-size: 15px;
			}
		}
	}
}

