.container.capnhaths{
	.row{
		.col-sm-4{
			a{
				margin-top: 30px;
			}
		}
		.col-sm-8{
			h3{
				margin:30px 0px 0px 0px !important; 
			}
		}
	}
}

.form-search-order{
	width: 100%;
	padding: 30px 0px;
	display: grid;
	form{
		.form-date{
			margin: 15px 0px;
			width: 100%;
			display: flex;
			height: 40px;
			input{
				border:1px solid #3684e0;
				border-radius: 3px;
				color:#3684e0;
				height: 100%;
				font-size: 20px;
			}
		}
		.form-seach{
			width: 100%;
			position: relative;
			height: 40px;
			margin: 15px 0px;
			input{
				width: 100%;
				position: absolute;
				border:1px solid #3684e0;
				border-radius: 3px;
				color:#3684e0;
				height: 100%;
				padding-left: 30px;
			}
			i{
				position: absolute;
				width: 40px;
				height: 40px;
				top: 10px;
				left:10px;
				z-index: 1;
				font-size: 20px;
				color:#3684e0;
			}
		}
	}
}