.list-order {
  .table {
    tbody {
      tr {
        td {
          vertical-align: middle;
          a {
            text-decoration: none;
            font-weight: bold;
          }
          a.id-order {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.wrap-search-by-date {
  margin-bottom: 20px;
  .wrap-col-date {
    input[type="date"] {
      width: fit-content;
    }
    input[type="text"] {
      background: url(../images/icon-search.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 5px;
      background-color: #fff;
      background-size: 20px;
      padding-left: 35px;
    }
  }
}