@import './variables';

.wrap-step2 {
  background: #F5F5F5;
  padding-bottom: 70px;
  padding-top: 70px;

  .wrap-center-filter {
    display: flex;
    @media only screen and (max-width: $mobileWidth) {
      flex-direction: column;
    }

    .wrap-label {
      margin-right: 10px;
      margin-top: 15px;
    }

    .wrap-select {
      .wrap-actions {
        display: flex;
        margin-top: 10px;

        a {
          width: 190px;
          margin-right: 10px;
        }
      }
    }
  }

  .wrap-panel {
    background: #ffffff;
    margin-top: 20px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);

    h4 {
      font-size: 15px;
      font-weight: normal;
      padding-top: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #c0a53b;
    }

    .wrap-form-step2 {
      padding: 20px;
      padding-top: 40px;
      hr{
        border-top: 1px solid #c0a53b;
        margin-top: 40px;
        margin-bottom: 10px;
      }
      .wrap-register-account-type {
        display: flex;

        .checkbox {
          margin-top: 0;
          margin-right: 10px;
        }
      }

      .wrap-gender {
        display: flex;

        .item {
          margin-right: 5px;

          .radio {
            margin-top: 0;
          }
        }
      }

      .wrap-footer-actions {
        display: flex;
        justify-content: center;

        a {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}


.custom-select {
  transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px !important;
  font-size: 13px;
  width: 400px;
  height: 40px;
  @media only screen and (max-width: $mobileWidth) {
    width: 100%;
  }
}
