@charset "UTF-8";

.table-data-price-service{
	// background: #f4f4f4;
	padding: 30px 0px;
	.container{
		max-width: 1000px;
		a.btn-common{
			float: right;
		}
		table {
			background: #ffff;
			box-shadow: 3px 3px 10px 1px #938b8ba6;
			border-radius: 10px;
			// text-align: center;
			width: 100%;
			max-height: 5px;
			overflow: scroll;
			padding: 20px 0px;
			
			th {
				color: #000000;
				padding: 10px;
				vertical-align:top;
				font-size: 12px;
				vertical-align: middle;
				span{
					color: #5d5c5c;
					font-size: 11px;
					font-weight: normal;
				}
			}
			th:last-child {
				border-top-right-radius: 10px;
			}
			th:first-child {
				border-top-left-radius: 10px;
			}
			td:first-child {
				text-transform: uppercase;
				font-weight: 600;
			}
			td{
				font-size: 13px;
			}
			td.domain{
				a{
					display: block;
				}		
			}
			@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
				table,
				thead,
				tbody,
				th,
				td,
				tr {
					display: block;
				}
				thead tr {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
				tr {
					margin: 0;
					border-bottom: solid 5px #eee;
					background: #fff;
				}
				tr:last-child {
					margin: 0px;
				}
				tr:nth-child(odd) {
					background: #fff;
				}
				td {
					/* Behave  like a "row" */
					border: none;
					border-bottom: 1px solid #eee;
					position: relative;
					padding-left: 40%;
					text-align: left;
					padding-top: 8px;
					padding-bottom: 8px;
					min-height: 3em;
				}

				td:before {
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 8px;
					left: 6px;
					width: 45%;
					padding-right: 10px;
					white-space: nowrap;
					text-align: center;
				}
				td:before  {
					content: attr(data-title);
					width: 25%;
					vertical-align: middle;
				}
				
			}
		}
	}
}