.page-list {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	@media only screen and (max-width:768px) {
		flex-direction: column;
	}

	.wrap-export {
		display: flex;
		align-items: end;
		height: 30px;
		@media (max-width: 767px) {
			// display: -webkit-box;
			width: fit-content;
		}

		img {
			width: 20px;
			margin-right: 5px;
		}
	}

	.wrap-paging {
		display: flex;
		@media only screen and (max-width:768px) {
			flex-direction: column;
		}

		ul {
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 0;
			@media (max-width: 767px) {
				margin: 15px auto;
			}
			li {
				a {
					background: unset;
					border: 0px;
				}
			}
		}

		.wrap-number-page {
			padding: 5px 10px;
			display: flex;
			height: 30px;
			border-radius: 5px;
			@media (max-width: 767px) {
				display: -webkit-box;
				width: fit-content;
				margin-bottom: 30px;
			}
			select{
				padding: 5px 10px;
				border-radius: 5px;
				border:1px solid #2885f3;
				height: 30px;
			}
			label {
				margin-right: 5px;
			}
		}
	}
}
