@charset "UTF-8";
.nav-bar-domain{
	.container{
		max-width: 1000px;
		.nav-bar{
			width: 100%;
			margin-top: 10px;
			display: flex;
			@media (max-width: 768px) {
				display: inline-block;
			}
			.nav-bar-left{
				@media (max-width: 768px) {
					width: 100%;
					h3{
						text-align: center !important;
					}
				}
				width: 30%;
				h3{
					text-align: left !important;
				}

			}
			.nav-bar-right{
				@media (max-width: 768px) {
					width: 100%;
					ul{
						margin: 0;
						padding: 0;
					}
				}
				width: 70%;
				margin-top: 30px;
				ul{
					li{
						width: 23%;
						margin: 0px 1%;
						float: left;
						padding-top:7px;
						padding-bottom:7px;
						background:#bfbfbf;
						border-radius: 3px;
						list-style-type: none;
						text-align: center;
						@media (max-width: 768px) {
							width: 48%;
							margin:5px 1%;
						}
						a{
							color:#ffff;
							font-weight: bold;
						}
					}
					li.active{
						background: #2885f3;
					}
					li:hover{
						background: #2885f3;
					}
				}
			}
		}
	}
	.container{
		.form-info-server{
			padding: 30px 30px;
			box-shadow: 3px 3px 10px 1px #938b8ba6;
			margin-bottom: 30px;
			border-radius: 5px;
			.wrap-button{
				margin-top:30px;
			}
			form{
				a.bg{
					display: block;
					height:1px;
					font-weight: bold;
					padding: 20px 0px;
					font-size: 16px;
				}
				.row{
					margin: 15px 0px;
					.button{
						display: flex;
						justify-content: center;
					}
					a.btn-gray{
						padding: 7px 30px 7px 30px;
						background: #ebebeb;
						color: #616161;
						border-radius: 3px;
						text-transform: uppercase;
						margin-left: 10px;
						font-size: 14px;
					}
				}
			}
			}.form-info-domain{
				padding: 30px 30px;
				box-shadow: 3px 3px 10px 1px #938b8ba6;
				margin-bottom: 30px;
				border-radius: 5px;
				form{
					.btn-add-ns{
						margin: 0 auto;
						margin-bottom: 50px;
					}
					a.bg{
						display: block;
						height:1px;
						font-weight: bold;
						padding: 20px 0px;
						font-size: 16px;
					}
					.row{
						margin: 15px 0px;
						@media (max-width: 768px) {
							margin: 0;
							.full-input{
								margin-bottom: 15px;
							}
						}
						.button{
							display: flex;
							justify-content: center;
						}
						a.btn-gray{
							padding: 7px 30px 7px 30px;
							background: #ebebeb;
							color: #616161;
							border-radius: 3px;
							text-transform: uppercase;
							margin-left: 10px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.wrap-title{
		display: flex;
		@media (max-width: 768px) {
			padding: 0;
		}
	}
	h4.title-name-server{
		position: relative;
		margin: 50px auto 30 auto;
		display: in;
		display: inline-block;
		padding: 0 10px;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		span{
			background: white;
			padding: 0 8px;
		}
		@media (max-width: 768px) {
			margin: 20px 0px;
			margin-bottom: 10px;
			&:after{
				display: none;
			}
		}
		&:after{
			position: absolute;
			width: 100%;
			height: 2px;
			content: "";
			display: block;
			top: 50%;
			background: #306eb0;;
			z-index: -99999;
		}
	}
	.first{
		margin-top: 0px !important;
	}

// table 3-3-quan-ly-dich-vu-cap-nhat-ns-ket-qua.html
.table-name-server{
	margin: 30px 0px;
	@media (max-width: 767px) {
		padding-top: 0;
	}
	
	.button{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 50px;
		a.btn-gray{
			padding: 7px 30px 7px 30px;
			background: #ebebeb;
			color: #616161;
			border-radius: 3px;
			text-transform: uppercase;
			margin-left: 10px;
			font-size: 14px;
		}
	}
	table {
		padding: 30px 0px;
		box-shadow: 3px 3px 10px 1px #938b8ba6;
		border-radius: 5px;
		tbody {
			tr {
				th {
					padding: 15px 5px;
				}
			}
		}
		@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
			table,
			thead,
			tbody,
			th,
			td,
			tr {
				display: block;
			}
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			tr {
				margin: 0;
				border-bottom: solid 5px #eee;
				background: #fff;
				td {
					border: none;
					border-bottom: 1px solid #eee;
					position: relative;
					padding-left: 40%;
					text-align: left;
					padding-top: 8px;
					padding-bottom: 8px;
					min-height: 3em;
				}

				td:before {
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 8px;
					left: 6px;
					width: 45%;
					padding-right: 10px;
					white-space: nowrap;
					text-align: center;
				}
				td:before {
					content: attr(data-title);
					width: 25%;
					vertical-align: middle;
				}
			}
			tr:last-child {
				margin: 0px;
			}
			tr:nth-child(odd) {
				background: #fff;
			}
		}
	}
}
// table quan-ly-dich-vu-cai-dat-DNS.html
.table-dns{
	margin: 30px 0px;
	@media (max-width: 767px) {
		padding-top: 0;
	}
	h3{
		text-align: left !important;
		font-size: 20px;
		span{
			font-size: 20px;
		}
	}
	.button{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 50px;
		a.btn-gray{
			padding: 7px 30px 7px 30px;
			background: #ebebeb;
			color: #616161;
			border-radius: 3px;
			text-transform: uppercase;
			margin-left: 10px;
			font-size: 14px;
		}
	}
	table {
		padding: 30px 0px;
		box-shadow: 3px 3px 10px 1px #938b8ba6;
		border-radius: 5px;
		tbody {
			tr {
				th {
					padding: 15px 5px;
				}
			}
		}
		@media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
			table,
			thead,
			tbody,
			th,
			td,
			tr {
				display: block;
			}
			thead tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
			tr {
				margin: 0;
				border-bottom: solid 5px #eee;
				background: #fff;
				td {
					border: none;
					border-bottom: 1px solid #eee;
					position: relative;
					padding-left: 40%;
					text-align: left;
					padding-top: 8px;
					padding-bottom: 8px;
					min-height: 3em;
				}

				td:before {
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 8px;
					left: 6px;
					width: 45%;
					padding-right: 10px;
					white-space: nowrap;
					text-align: center;
				}
				td:before {
					content: attr(data-title);
					width: 25%;
					vertical-align: middle;
				}
			}
			tr:last-child {
				margin: 0px;
			}
			tr:nth-child(odd) {
				background: #fff;
			}
		}
	}
}
