@charset "UTF-8";
.container {
  h3 {
    margin: 30px 0px;
    font-size: 25px;
    span {
      font-size: 25px;
    }
  }
  .content {
    a {
      font-weight: bold;
      font-size: 13px;
      margin: 0px;
      line-height: 16px;
      img {
        width: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .button {
      text-align: center;
      margin-top: 20px;
      width: 40%;
      margin: 20px auto 0px auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      @media (max-width: 767px) {
        width: 100%;
      }
      a.btn-back {
        padding: 7px 30px 7px 30px;
        background: #ebebeb;
        color: #616161;
        border-radius: 3px;
        text-transform: uppercase;
        margin-left: 10px;
        font-size: 14px;
      }
    }

    table {
      background: #ffff;
      font-size: 13px;
      border-top: none;
      box-shadow: 0px 0px 5px 0px #948b8bb3;
      border-radius: 7px;
      tr {
        th {
          font-size: 13px;
        }
        td {
          padding: 15px 0px;
          a {
            font-weight: bold;
            font-size: 13px;
          }
          a.popUp {
            padding: 8px 10px;
            border: 1px solid #6391f7;
            border-radius: 5px;
            display: inline-block;
            img {
              width: 15px;
              margin: 0px 5px;
            }
          }
          p,
          b {
            font-size: 13px;
            color: #353535;
          }
          img {
            width: 100px;
            height: auto;
          }
        }
      }
    }
  }
  .desc {
    height: auto;
    p {
      color: #3b3b3b;
      font-size: 13px;
      margin: 10px 0px;
    }
    b {
      font-size: 13px;
    }
    a {
      font-size: 13px;
      text-transform: uppercase;
      color: #ffff;
      background: #e37458;
      padding: 7px 20px;
      border-radius: 3px;
      margin-top: 10px;
      display: inline-block;
      &:hover {
        background: #c5634a;
        transition: 0.3s;
      }
    }
  }
}

.search-advance {
  width: 100%;
  padding: 30px 0px;
  .container {
    display: block;
    h3 {
      text-align: left;
      font-size: 18px;
      margin-top: 15px;
    }
    hr {
      width: 100%;
      margin-top: 10px;
    }
    .form-search {
      form {
        p {
          margin: 15px 0px;
        }
        .form-input {
          input {
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.table-data {
  background: #f4f4f4;
  padding: 30px 0px;
  .update-hs {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .container {
    table {
      background: #ffff;
      box-shadow: 3px 3px 10px 1px #938b8ba6;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      max-height: 5px;
      overflow: scroll;
      th {
        color: #000000;
        text-align: center;
        padding: 10px;
      }
      th:last-child {
        border-top-right-radius: 10px;
      }
      th:first-child {
        border-top-left-radius: 10px;
      }
      td {
        input {
          float: left;
          margin: 0 auto;
          width: 100%;
        }
        a {
          text-decoration: underline;
        }
      }
      @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
        }
        thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        tr {
          border-bottom: solid 3px #eee;
          background: #fff;
        }
        tr:last-child {
          margin: 0px;
        }
        tr:nth-child(odd) {
          background: #fff;
        }
        td {
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 40%;
          text-align: left;
          min-height: 3em;
          input {
            text-align: left;
            width: 20px;
          }
        }
        td:before {
          content: attr(data-title);
          position: absolute;
          top: 8px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: center;
        }
      }
    }
    .button {
      display: flex;
      width: 100%;
      // clear: both;
      .left {
        width: 30%;
        a {
          padding: 10px 10px;
          background: #e1e1e1;
          border-radius: 5px;
          color: #686868;
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
      .right {
        width: 30%;
        text-align: right;
        a {
          padding: 10px 10px;
          background: #e1e1e1;
          border-radius: 5px;
          color: #686868;
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }
      .mid {
        width: 40%;
        .page_list {
          float: right;
          width: 100%;
          .page {
            ul {
              width: 100%;
              display: table;
              table-layout: fixed;
              li {
                list-style-type: none;
                display: table-cell;
                width: auto;
                text-align: center;
                a {
                  color: black;
                  background: none;
                  i {
                    color: #56a9fe;
                  }
                }
                a.active {
                  color: #56a9fe;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.capnhaths {
  .content {
    padding: 30px 0px;
    @media (max-width: 767px) {
      padding-top: 0;
    }
    table {
      tbody {
        tr {
          th {
            padding: 15px 5px;
          }
        }
      }

      @media only screen and (max-width: 767px), (min-device-width: 768px) and (max-device-width: 1024px) {
        table,
        thead,
        tbody,
        th,
        td,
        tr {
          display: block;
        }
        thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }
        tr {
          margin: 0;
          border-bottom: solid 5px #eee;
          background: #fff;
          td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
            text-align: left;
            padding-top: 8px;
            padding-bottom: 8px;
            min-height: 3em;
          }

          td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 8px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: center;
          }
          td:before {
            content: attr(data-title);
            width: 25%;
            vertical-align: middle;
          }
        }
        tr:last-child {
          margin: 0px;
        }
        tr:nth-child(odd) {
          background: #fff;
        }
      }
    }
  }
}
