.user-setting {
  @media (max-width: 767px) {
    padding: 10px;
  }
  .container {
    max-width: 1000px;
  }
  .header {
    border-bottom: solid 1px #e1e1e1;
    h4 {
      color: #5589c2;
      font-size: 18px;
      margin: 20px 0px;
    }
    .info {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      @media (max-width: 767px) {
        display: block;
      }
      div {
        margin-right: 50px;
        @media (max-width: 767px) {
          margin-right: 0;
          width: 100%;
          display: inline-block;
        }
      }
      img {
        height: 25px;
        width: auto;
        display: inline-block;
        @media (max-width: 767px) {
          display: block;
          float: left;
          width: 20px;
          height: auto;
        }
      }
      p {
        float: right;
        padding-left: 8px;
        font-size: 16px;
        line-height: 25px;
        @media (max-width: 767px) {
          float: left;
          font-size: 14px;
        }
        span {
          color: #c0a53b;
          font-size: 18px;
          line-height: 25px;
          font-weight: bold;
          @media (max-width: 767px) {
            font-size: 15px;
          }
        }
        span.black {
          color: #000;
        }
      }
    }
  }
  .content {
    padding: 20px 0px;
    h4 {
      color: #dcdcdc;
      margin: 15px 0px;
      margin-bottom: 20px;
      font-size: 20px;
      span {
        color: #5589c2;
      }
    }
    .user {
      display: inline-block;

      .avatar {
        width: 100px;
        height: 100px;
        background-image: linear-gradient(to right, #5183e4, #51b7f6);
        text-align: center;
        line-height: 100px;
        color: #fff;
        font-size: 50px;
        float: left;
      }
      .profile {
        float: left;
        p {
          padding-left: 10px;
          color: #4a4a4a;
          line-height: 26px;
          i {
            color: #c8c5c5;
            width: 16px;
          }
          .fa-user {
            font-size: 17px;
          }
          span {
            font-weight: bold;
            color: #000;
          }
        }
      }
    }

    .alert-news {
      border-top: solid 1px #d7d7d7;
      border-bottom: solid 1px #d7d7d7;
      margin-top: 30px;
      @media (max-width: 999px) {
        border: 0;
      }
      p.left-title {
        padding: 5px 10px;
        padding-right: 30px;
        background: url(../images/dang-nhap/right-icon.jpg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 100%;
        background-size: 22px;
        display: inline-block;
        background-color: #f5f5f5;
      }
      .marquee {
        width: 830px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        float: right;
        padding-top: 5px;
        @media (max-width: 999px) {
          width: 100%;
          margin-top: 10px;
        }
        span {
          display: inline-block;
          padding-left: 100%;
          text-indent: 0;
          animation: marquee 15s linear infinite;
          a {
            color: #8e8e8e;
            padding-left: 30px;
          }
          a:hover {
            color: #1976be;
            padding-left: 30px;
          }
          a::before {
            content: "\2022";
            color: #1976be;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
        span:hover {
          animation-play-state: paused;
        }
      }
    }

    .wrap-item {
      min-height: 500px;
      padding-top: 20px;
      @media (max-width: 767px) {
          text-align: center;
          padding-top: 50px;
      }
      .item {
        padding: 25px;
        box-shadow: 2px 1px 5px 0px #938b8ba6;
        width: 350px;
        border-radius: 10px;
        float: left;
        margin: 15px;
        @media (max-width: 767px) {
          padding: 20px;
          display: inline-block;
          float: unset;
        }
       
        img {
          width: 60px;
          height: auto;
          float: left;
        }
        p {
          width: 190px;
          float: left;
          padding-left: 20px;
          color: #2f2f2f;
          font-weight: bold;
          font-size: 12px;
          text-align: left;
          span {
            color: #4fb2f5;
            font-size: 35px;
          }
        }
        a {
          margin-top: 30px;
          float: right;
        }

        @media (max-width: 400px) {
            padding: 15px;
            margin: 15px 0px;
            width: 95%;
            img{
                width: 70px;
                padding: 10px;
            }
        }
      }
      .item-blue {
        background: #0b91d6;
        p {
          color: #fff;
          span {
            color: #fff;
          }
        }
        a {
          background: #357ecf;
          border: solid 1px #28415a;
        }
      }
    }
  }
}

a.button-link {
  background: #3f89d7;
  color: #fff;
  padding: 2px 15px;
  border-radius: 15px;
  margin-left: 10px;
  line-height: 20px;
  margin-top: 23px;
  display: inline-block;

  i {
    margin-left: 5px;
  }
}
a:hover {
  text-decoration: underline;
}
